/*Allt*/
body {
	margin: 0;
	background-color: black;
	font-family: 'Carme', sans-serif;
}
body section {
	height: 100vh;
}
body section h1 {
	margin-top: 0;
	padding-top: 0em;
	text-align: center;
	font-size: 2em;
	text-shadow: 4px 2px purple;
}
.meira,
body section p {
	font-size: 1.2em;
}

/*-----------------*/


/*Header*/
header {
	display: grid;
	grid-template-columns: 1fr 0.30fr;
	color: white;
}
header h1 {
	text-shadow: 15px 30px purple;
}
header a {
	text-decoration: none;
	color: white;
}
nav {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

	text-align: right;
}
.header1 {
	max-width: 60em;
	margin: auto;
}
nav a {
	border-bottom: white solid 1px;
}
nav a:hover {
	text-shadow: 4px 2px purple;
	padding-right: 1em;
}


/*-----------------*/



.um_siduna {
	background-image: url("img/um_okkur.jpg");
	color: white;
}
.rss {
	background-image: url("img/rss.jpg");
	color: white;
}
.ghost_recon_wildlands {
	background-image: url("img/Ghost_recon_wildlands.jpg")
}
.Overwatch {
	background-image: url("img/Overwatch.jpg")
}
.Titanfall_2 {
	height: 110vh;
	background-image: url("img/Titanfall_2.jpg");
}
.um_siduna_texti,
.rss_texti,
.ghost_recon_wildlands_texti,
.Overwatch_texti,
.Titanfall_2_texti {
	max-width: 60em;
}
.um_siduna_texti,
.Titanfall_2_texti {
	margin-left: 1em;
}
.ghost_recon_wildlands_texti,
.Overwatch_texti,
.rss_texti {
	margin: auto;
}
.lbg {
	padding: 1em;
	background-color: rgba(255,255,255,0.5);
}
.dbg {
	padding: 1em;
	background-color: rgba(0,0,0,0.5);
}
.upp {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	bottom: 1em;
	right: 1em;
	background-color: rgba(113, 113, 113, 0.7);
	color: white;
	height: 2em;
	width: 2em;
	text-decoration: none;
	border-radius: 50%;
	font-size: 2em;
}
.meira {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.meira dt{
	color: orange;
	text-shadow: 2px 2px purple;
}
.meira p {
	font-size: 1em;
	text-align: right;
}
.meira_fyrirsogn {
	margin-bottom: 0;
}
.ow_meira {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0.5em;
}